div.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.flex1{
    display: flex;
    flex-direction: column;
}
/* div.flex-container div.city-search{
    display: flex;
    flex-wrap: wrap;
} */
/* div.flex-container div#current-weather{
    display: flex;
    flex-wrap: wrap;
} */



/* div.flex-more{
    justify-content: center;
    /* display: flex;
    flex-wrap: wrap; */
